/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --effect-color: #007bffd5;
}
html{
  font-size: 62.5%;
}

.fa-xmark:hover {
color: var(--effect-color);
}
.humberger{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  visibility: hidden;
}
.humberger>i{
  height: 100%;
  width: 100%;
  font-size:3rem ;
}

.mihretab {
  height: 6.09rem;
  line-height: 6.09rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #ffffff;
}
.fa-solid {
  color: #ffffff;
}
.fa-solid:hover {
  color: var(--effect-color);
}
.fa-magnifying-glass:hover {
  color: var(--effect-color);
}


/* logo */
.logo {
  height: 6.09rem;
  line-height: 6.09rem;
  cursor: pointer;
}
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.logo a img {
  height: 45%;
}

/* navigation menu */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.09rem;
  line-height: 6.09rem;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  height: 6.09rem;
  line-height: 6.09rem;
}
.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 6.09rem;
  line-height: 6.09rem;
}
.list {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  position: relative;
}

.list::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  transform: scaleX(0);
  top: 3.8rem;
  left: 0;
  transition: 0.5s;
}
.list:hover::after{
  content: "";
  background-color: var(--effect-color);
  width: 100%;
  height: 0.16rem;
  transform: scaleX(1);
}
.list:hover {
  color: var(--effect-color);
  cursor: pointer;
}
.btn{
  background-color: transparent;
  border: none;
  display: none;
}
.btn:hover{
  cursor: pointer;
}

/* search & contact-us */
.search-contact {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.contact-us a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}
.contact-us a:hover {
  color: var(--effect-color);
}
.search {
  position: relative;
}
.search-box {
  position: absolute;
  display: flex;
  width: 35rem;
  height: 5rem;
  top: 6.3rem;
  right: 0;
  visibility: hidden;
}
.search-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  text-decoration: none;
  align-self: flex-end;
  background: #000;
}
.search-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  text-decoration: none;
  align-self: flex-end;
  background: #456378;
}
.search-box form input {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
}
.search-btn {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* dropdown menu */
.dropdown-menu{
    position: absolute;
    top: 6.2rem;
    left: -5rem;
    width: 40rem;
    height: auto;
    z-index:999 ;
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: #333;
}
.active{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
.dropdown-menu>.menu{
  width: 75%;
    display: flex;
   flex-wrap: wrap;
}
.dropdown-menu-list{
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
   line-height: 2.5;
   list-style: none;
}
.dropdown:first-child{
font-size: 1.8rem;
font-weight: 500;
}
.career{
font-size: 1.8rem;
font-weight: 500;
}
.dropdown:hover>a,a:hover>i,.xmark .fa-xmark:hover{
  color: var(--effect-color);
}
.dropdown>a{
  text-decoration: none;
  color: #ffffff;
}
.dropdown>a>i{
  margin-left: 0.3rem;
}
.xmark .fa-xmark{
font-size: 2.4rem;
}

.hamburger{
  display: none;
}
.hamburger i{
  font-size: 3rem;
}
 

/* Media query */
@media screen and (max-width: 767px) { 

.mihretab{
    position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: auto;
  gap: 0;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation{
  width: 100%;
  display: none;
  height: auto;
  justify-content:start;
}
.menu-list{
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: auto;
  flex-direction: column;
  gap:0rem;
  line-height:0rem ;
}
.collapse{
  position: relative;
  height: auto;
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
}
.collapse::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 0.01rem;
  background-color:#9a9a9a ;
  width: 100%;
}
.collapse::before{
  position: absolute;
  content: "";
 top: 0;
  left: 0;
  height: 0.01rem;
  background-color:#696969 ;
  width: 100%;
}
.collapse:hover{
  cursor: pointer;
}
.list{
  width: 100%;
  height: auto;
  position: relative;
}
.list::after{
  visibility: hidden;
}
.search-btn{
  display: block;
  position: absolute;
  top: -49.5rem;
  right: 45rem;
}
.search-box{
  position: absolute;
  top: -46rem;
  right: 10rem;
}

.dropdown-menu{
  display: none;
  transition: display 0.3s ease; 
  position: static;
  width: 100%;
}
.dropdown-menu.active {
    display: block;
}

.xmark{
  display: none;
}

.search-contact{
  display: none;
width: 100%;
padding: 0rem 2rem;
}

  .btn{
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

 .list:hover,.dropdown:hover>a,a:hover>i,.xmark .fa-xmark:hover,.fa-solid:hover,.contact-us>a:hover{
  color: #ffffff;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px){

  .mihretab{
    gap: 1rem;
  }

  .logo{
    width: 15%;
  }
  
.navigation{
  width: 60%;
}

.menu-list {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}
.list {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  position: relative;
}

.btn{
  background-color: transparent;
  border: none;
  display: none;
}
.btn:hover{
  cursor: pointer;
}

.hamburger{
  display: none;
}

}

@media screen and (min-width: 1024px){
.logo>.hamburger{
  display: none;
}
}
.slider {
  background-image: url(../IMAGE/codioful-formerly-gradienta-OzfD79w8ptA-unsplash.jpg);
  background-position: center;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.images-container {
    margin-top: 20px;
  width: 98%;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 20px; /* Adds space between images */
}

.images img {
  width: 50%; /* Adjusted to ensure partial visibility */
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  text-align: center;
}

.arrows {
  position: absolute;
  bottom: 0px;
  width: 67%;
  display: flex;
  justify-content: space-between;

  margin-left: 18%;
   margin-right: 15%;
  /* padding: auto; */
}

.arrow {
  /* margin: 0 80px; */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
  .slider {
    height: 350px;
  }
  .images-container {
    height: 300px;
  }
}
/* body {
  background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


footer.container {
  background-color: whitesmoke;
  color: #191818;
  padding: 20px 10%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* align-items: flex-start; */
  border-top: 1px solid #333;
}


footer .businesses,
footer .about,
footer .technology,
footer .employees,
footer .sustainability,
footer .design,
footer .investor {
  flex: 1 1 200px; 
  margin: 10px;
}

footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #716a6a;
}

footer a {
  display: block;
  color: #706969;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #00a2ed;
}

footer p {
  font-size: 12px;
  color: #cccccc;
}


@media (max-width: 768px) {
  footer.container {
    padding: 20px 5%;
    flex-direction: column;
  }

  footer .businesses,
  footer .about,
  footer .technology,
  footer .employees,
  footer .sustainability,
  footer .design,
  footer .investor {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}
.term {
  background-color: black;
  color: rgb(168, 161, 161);
  padding-bottom: 10px;
}

#footer {
  transition: height 0.3s ease, opacity 0.3s ease; 
  overflow: hidden; }

#footer.hidden {
  height: 0;
  opacity: 0;
  pointer-events: none; 
}
#toggleFooter {
  /* position: fixed; */
  /* bottom: 10px;  */
  right: 10px; 
  padding: 10px 20px;
  /* background-color: #007BFF; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



  .body-container{
    transform: perspective(100px) translateZ(-5px);
    -webkit-transform: perspective(100px) translateZ(-5px);
    -moz-transform: perspective(100px) translateZ(-5px);
    -ms-transform: perspective(100px) translateZ(-5px);
    -o-transform: perspective(100px) translateZ(-5px);
}

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    
  }

  
  .card {
    margin: 3px;
    width: 550px;
    position: relative;
  }

  .card img {
    width: 100%;
    cursor: pointer;
    transition: 0.7s;
}
  .card img:hover {
      transform: scale(1.009);
    
  }

.card a{
  color: #777;
  text-decoration: none;
 margin-top: 1px;
}
.card a:hover{
   text-decoration: underline;
   transition: 1s;
}
  .card h4,a {
    padding: 0px;
    font-size: 16px;
  }
  .card a{
      margin: 2px 5px 10px 2px;
  }


  /* Lightbox styles */
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .lightbox iframe {
    width: 80%;
    height: 80%;
    border: none;
  }

  .lightbox.active {
    display: flex;
  }

 
  .play-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -108%);
width: 70px;
height: 70px;
background-color: rgba(83, 127, 247, 0.7);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: opacity 0.3s ease;
opacity: 1;
cursor: pointer;
}

.play-button::before {
content: '';
display: block;
width: 0;
height: 0;
border-left: 18px solid white;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}
/* Spinner styles */
.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3); /* Light white border */
    border-top: 8px solid #ffffff; /* White top border for animation */
    border-radius: 50%; /* Make it circular */
    width: 60px; /* Size of the spinner */
    height: 60px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Add animation */
    margin: auto;
}

/* Spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Lightbox styles */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 9999;
}

#videoIframe {
 
   width: 800px;
   height: 500px;
    border-radius: 5px;
   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#closeLightbox {
    position: absolute;
    top: 200px;
    right: 20px;
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10000;
    border-radius: 4px;
   
}


/* Hide Spinner by Default */
#loading-spinner.hidden {
    display: none;
}
/**/

.social-media {
    margin-bottom: 20px;
    text-align: center;
}

.social-media a {
    font-size: 4rem;
    margin-right: 60px;
    margin-bottom: 60px;
    color: #000000;
    transform: translateX(370px);
    -webkit-transform: translateX(370px);
    -moz-transform: translateX(370px);
    -ms-transform: translateX(370px);
    -o-transform: translateX(370px);
     font-weight: bolder;
}

.social-media a:hover {
    color: #888;
}

.titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.titel a {
    text-decoration: none;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #666;
    font-size: 0.9rem;
}

.date {
    font-weight: bold;
    white-space: nowrap;
    color: #555;
    margin-bottom: 10px;

}
.latest-news{
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
}
.list-unstyled li div:hover{
    text-decoration: underline;
}
.text-container a {
    display: block; /* Forces the text to wrap naturally beneath itself */
    text-align: justify; /* Optional for better text alignment */
}
.text-container a {
    display: block; /* Forces the text to wrap naturally beneath itself */
    text-align: justify; /* Optional for better text alignment */
}
.important-notice a{
    color: #575656;
    text-decoration: none;
}
.important-notice {
    text-align: center;
    border: solid 0.5px #cecaca;
    padding: 17px;
    margin: 20px 750px 50px 750px;
    max-width: 90%;
    background: #fff;
    color: #777;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-ancho{
    justify-content: flex-start;
    transform: translateX(-1010px);
    -webkit-transform: translateX(-1010px);
    -moz-transform: translateX(-1010px);
    -ms-transform: translateX(-1010px);
    -o-transform: translateX(-1010px);
}
.important-notice:hover {
    background: #dbdbdb;
}

.important-notice:hover a {
    color: #ffffff;

}
.anchor{
    color: #666;
    text-decoration: none;
}
.anchor:hover{
    text-decoration: underline;
}
/* Responsive Design for Small Screens */
@media (max-width: 576px) {
    .card{
        width: 400px;
    }
    #text-center{
        
        text-align: center;
}
.latest-news{
    transform: translateX(7px);
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    -ms-transform: translateX(7px);
    -o-transform: translateX(7px);
}
 
    .social-media a {
        font-size: 2rem;
        margin: 10px;
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}
    .social-media {
        justify-content: center; /* Centers the icons on mobile */
        padding: 10px 0; /* Adds some space around the icons */
        
    }

   
    .titel {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titel h2 {
        margin-bottom: 10px;
    }

    ul {
        padding-left: 10px;
    }

    .important-notice {
        font-size: 0.9rem;
        flex-wrap: nowrap;
    }

    .titel h2 {
        font-size: 1.25rem;
    }

    .date {
        font-size: 0.9rem;
    }

    .text-container a {
        font-size: 0.9rem;
    }
    .important-notice{
        transform: translateX(-700px);
        -webkit-transform: translateX(-700px);
        -moz-transform: translateX(-700px);
        -ms-transform: translateX(-700px);
        -o-transform: translateX(-700px);
        padding: 6px 150px 6px 150px;
}
body{
    overflow-x: hidden;
}
#text-anchor{
    text-align: center;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
}
